/*========================================*/

/* === START Game Header Style === */

.game-header {
    width: 100%;
    float: left;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
}

.game-header #game-number {
    text-align: left;
}

.game-header #countdown {
    text-align:center;
}

.game-header #time-remaining {
    text-align:right;
}

/*===END Game Header Style===*/

/*========================================*/

/*===START Bootstrap Override Style===*/

.progress {
    margin:auto;
}

/*===END Bootstrap Override Style===*/

/*========================================*/

/*===START Player Pane Style===*/

.content {
    padding-top: 1em;
}

.section-header {
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display:inline-block;
}

.section-header h3 {
    margin:0;
    float:left;
}

.section-header .new-task{
    float:right;
}

.gameboard {
    height: 550px;
}

.objectives {
    min-height:180px;
}

/*=== END Playe Pane Style ===*/

/*========================================*/

/*=== START Game Information Header Style ===*/

.panel-heading #sanction {
    position: relative;
    top: -5px;
}

.panel-heading #score {
    float: right;
}

.info-text td {
    font-weight:bold;
    padding-right:1em;
}

.info-text #score > td {
    padding-bottom:1em;
}

.info-text .progressbar {
    height: 20px;
    background: transparent;
}

.info-text .progressbar > div {
    background: LightGreen;
}

.info-text .resource-container {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    broder: thin dashed black;

}

.attack-warning {
    text-align:center;
}

.panel-heading.attack-heading {
    background-color: red;
}

/*=== END Game Information Header Style ===*/

/*========================================*/

/*=== START Attack Information Style ===*/

.attack-active {
    height:84px;
}

 .attack-threat {
    height: 400px;
 }

.outer {
    width: 40px;
    height: 100%;
    border: 2px solid #ccc;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;

    position: relative;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.inner, .inner div {
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.inner.blue{
    border: 2px solid blue;
    border-top-width: 0;
    background-color: blue;

    bottom: 0;
    height: 0%;
    z-index:3;
}

.inner.red{
    border: 2px solid red;
    border-top-width: 0;
    background-color: red;

    bottom: 0;
    height: 0%;
    z-index:2;

}

.inner.yellow{
    border: 2px solid yellow;
    border-top-width: 0;
    background-color: yellow;

    bottom: 0;
    height: 0%;
    z-index:1;
}


/*=== END Attack Information Style ===*/

/*========================================*/

/*=== START Resource List Style ===*/

.category-list {
    margin-left: 1em;
}

.category-list  td{
    padding-bottom: 1em;
    padding-right:1em;
    text-align:left;
}

.category-list .objective-category {
    float:left;
    display:inline-block;
    padding-right: 1em;
    vertical-align:middle;
}

/*=== END Resource List Style ===*/

/*========================================*/

/*=== START Resource Container Style ===*/

.resource-container {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    broder: thin dashed black;
}

.resource-container .centered {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.resource-container .centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.complete, .active {
    border: thin solid;
}

.complete .centered, .active .centered {
    color: black;
}

.incomplete, .inactive {
    border: thin dashed;
}

.incomplete .centered, .inactive .centered{
    color: black;
}

#blue.incomplete, #blue.inactive {
    background: rgba(0,0,255, 0.5);
}

#red.incomplete, #red.inactive{
    background: rgba(255,0,0, 0.5);
}

#yellow.incomplete, #yellow.inactive {
    background: rgba(255,255,0, 0.5);
}

#blue.complete, #blue.active {
    background: rgb(0,0,255);
}

#red.complete, #red.active {
    background: rgb(255,0,0);
}

#yellow.complete, #yellow.active {
    background: rgb(255,255,0);
}

/*=== END  Resource Container Style ===*/

/*========================================*/

/*=== START Group Chat Style ===*/

.panel-body.chat {
    height: 500px;
    overflow-y: scroll;
}

ul.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}


.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


/*=== END Group Chat Style ===*/

/*========================================*/

/*=== END Base Stylesheet === */

/*========================================*/
