{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block head_css %}
    <link href="{% static 'css/game.css' %}" rel="stylesheet" xmlns:display="http://www.w3.org/1999/xhtml">
{% endblock %}

{% block navbar %}
    <div class="game-header">
        <div class="row">
            <div class="col-md-3">
                <div class="row">

                    <h4>
                        Money Earned:
                        <b>
                            <span id="my-score"> ${{ me.score }}</span>
                        </b>
                    </h4>

                </div>

                <div class="row">

                    <h4 id="game-number">Status:

                        {% if me.can_move %}
                            Your Move
                        {% else %}
                            Waiting on others...
                        {% endif %}


                    </h4>
                </div>


            </div> <!-- end .col-md-3 -->

            <div class="col-md-6">
                <p class="response center-block"></p>
            </div> <!-- end .col-md-6 -->
            <div class="col-md-3">
                <h3 id="time-remaining">Remaining Rounds: {{ game.ticks }}</h3>
            </div> <!-- end .col-md-3  -->
        </div> <!-- end .row -->
    </div> <!-- end .game-header -->



{% endblock %}

{% block content %}

    <!-- START Fluid Scaffold -->
    <div class="row">

    <!-- START Game Information -->
    <div id="game-info" class="col-md-3">
        <h4><u>Colleagues:</u></h4>
        {% for player in players %}
            {% if player.id != me.id %}

                <div class="panel panel-primary info-panel">
                {% if player.sanctioned %}
                    <div class="panel-heading sanctioned">
                {% else %}
                    <div class="panel-heading">
                {% endif %}
            <div>

                <span class="glyphicon glyphicon-user"></span>&nbsp;{{ player.user.username }}
                {% if game.peer_sanc == True %}
                    <button type="button" sanctionee="{{ player.pk }}" sanctioner="{{ me.pk }}"
                            class="btn btn-sm btn-danger pull-right sanction">
                        Sanction
                    </button>

                {% endif %}

            </div>
            </div>
            <div class="panel-body info-text">
                <table id= {{ player.id }}>
                    <tr>

                        <td id="score_{{ player.id }}" class="title">
                            Money Earned:
                        </td>
                        <td> ${{ player.score }}</td>
                    </tr>


                    <tr id="their-vulnerabilities">

                        <td class="title">
                            Security:
                        </td>
                        <td>
                            {% if player.blue_status_security %}
                                <div id="blue_security_{{ player.id }}"
                                     class="resource-container complete blue">
                            {% else %}
                                <div id="blue_security_{{ player.id }}"
                                     class="resource-container incomplete blue">
                            {% endif %}
                            <span class="centerer"></span><span class='centered'></span>
                            </div>
                        </td>


                        <td>
                            {% if player.red_status_security %}
                                <div id="red_security_{{ player.id }}"
                                     class="resource-container complete red">
                            {% else %}
                                <div id="red_security_{{ player.id }}"
                                     class="resource-container incomplete red">
                            {% endif %}
                            <span class="centerer"></span><span class='centered'></span>
                            </div>
                        </td>


                        <td>
                            {% if player.yellow_status_security %}
                                <div id="yellow_security_{{ player.id }}"
                                     class="resource-container complete yellow">
                            {% else %}
                                <div id="yellow_security_{{ player.id }}"
                                     class="resource-container incomplete yellow">
                            {% endif %}
                            <span class="centerer"></span><span class='centered'></span>
                            </div>
                        </td>

                    </tr>
                </table>
            </div>
            </div>
            {% endif %}

        {% endfor %}
        </div>

        <!-- END Game Information -->

        <!-- START Player Pane -->

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div>
                            <span><span class="glyphicon glyphicon-user"></span>
                            <span id="player" style="display:none">{{ me.pk }}</span>
                            <strong>My Workstation</strong></span>
                    </div>
                </div>

                <div class="panel-body">

                    <!-- START Resource Objectives -->
                    <div id="projects">
                        <h4><u>Projects</u>:</h4>

                        <table class="category-list">
                            <tbody id="research-objectives">

                            <!-- START Workshop Objective -->
                            <tr class="resource-list">
                                <td>
                                    <h4 class="objective-category">Workshop ($10):</h4>
                                </td>
                                <td>
                                    {% if me.workshop.first.complete %}
                                        <div id="workshop_resource"
                                             class="clickable resource-container complete {{ me.workshop.first.classification_display }}">
                                    {% else %}
                                        <div id="workshop_resource"
                                             class="clickable resource-container incomplete {{ me.workshop.first.classification_display }}">
                                    {% endif %}

                                    <span class="centerer"></span><span class='centered'></span>
                                    </div>
                                </td>
                            </tr>
                            <!-- END Workshop Objective -->

                            <!-- START Conference Objective -->
                            <tr class="resource-list">
                                <td>
                                    <h4 class="objective-category">Conference ($25):</h4>
                                </td>

                                <td>
                                    {% if me.conference.first.complete_one %}
                                        <div id="conference_one"
                                             class="clickable resource-container complete {{ me.conference.first.classification_display_one }}">
                                    {% else %}
                                        <div id="conference_one"
                                             class="clickable resource-container incomplete {{ me.conference.first.classification_display_one }}">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if me.conference.first.complete_two %}
                                        <div id="conference_two"
                                             class="clickable resource-container complete {{ me.conference.first.classification_display_two }}">
                                    {% else %}
                                        <div id="conference_two"
                                             class="clickable resource-container incomplete {{ me.conference.first.classification_display_two }}">
                                    {% endif %}


                                    <span class="centerer"></span><span class='centered'></span>
                                    </div>
                                </td>

                            </tr>
                            <!-- END Conference Objective -->

                            <!-- START Journal Objective -->
                            <tr class="resource-list">
                                <td>
                                    <h4 class="objective-category">Journal ($45):</h4>
                                </td>

                                <td>
                                    {% if me.journal.first.complete_one %}
                                        <div id="journal_one"
                                             class="clickable resource-container complete {{ me.journal.first.classification_display_one }}">
                                    {% else %}
                                        <div id="journal_one"
                                             class="{{ me.journal.first.classification_display_one }} clickable resource-container incomplete">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if me.journal.first.complete_two %}
                                        <div id="journal_two"
                                             class="clickable resource-container complete {{ me.journal.first.classification_display_two }}">
                                    {% else %}
                                        <div id="journal_two"
                                             class="clickable resource-container incomplete {{ me.journal.first.classification_display_two }}">
                                    {% endif %}
                                </td>
                                <td>

                                    {% if me.journal.first.complete_three %}
                                        <div id="journal_three"
                                             class="clickable resource-container complete {{ me.journal.first.classification_display_three }}">
                                    {% else %}
                                        <div id="journal_three"
                                             class="clickable resource-container incomplete {{ me.journal.first.classification_display_three }}">
                                    {% endif %}

                                    <span class="centerer"></span><span class='centered'></span>
                                    </div>
                                </td>

                            </tr>
                            <!-- END Journal Objective -->

                            </tbody>
                        </table>

                    </div>
                    <hr>
                    <!-- END Resource Objectives -->


                    <!-- START Security Features -->

                    <div id="security_objectives">
                        <h4><u>Security Objectives:</u></h4>
                        <table class="category-list">
                            <tbody>
                            <tr id="vulnerability-list">
                                <td>
                                    <h4 class="objective-category">Immunities:</h4>
                                </td>

                                <!---- Blue Security Resource ---->
                                <td>
                                    {% if me.blue_status_security %}
                                        <div id="blue_security"
                                             class="resource-container active">
                                    {% else %}
                                        <div id="blue_security"
                                             class="clickable resource-container inactive">
                                        {{ me.deadline_sanction_blue_rep }}
                                    {% endif %}
                                    </div>
                                </td>

                                <!------ Red Security Resource ---->
                                <td>
                                    {% if me.red_status_security %}
                                        <div id="red_security"
                                             class="resource-container active">
                                    {% else %}
                                        <div id="red_security"
                                             class="clickable resource-container inactive">
                                        {{ me.deadline_sanction_red_rep }}
                                    {% endif %}
                                    </div>

                                </td>

                                <!------ Yellow Security Resource --->
                                <td>
                                    {% if me.yellow_status_security %}
                                        <div id="yellow_security"
                                             class="resource-container active">
                                    {% else %}
                                        <div id="yellow_security"
                                             class="clickable resource-container inactive">
                                        {{ me.deadline_sanction_yellow_rep }}
                                    {% endif %}
                                    </div>

                                </td>

                                <!--- Pass Button --->
                                <td>
                                    {% if me.manager_sanctioned %}
                                        <button type="button" id="passbtn" class="btn btn-success">
                                            Pass
                                        </button>
                                    {% else %}
                                        <button type="button" id="passbtn" class="btn btn-success"
                                                style="display:none">
                                            Pass
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div><!--- close .objectives -->

                    <hr>

                    <div>
                        <h4><u>Capabilities:</u></h4>
                        <table class="category-list">
                            <tbody>
                            <tr id="capability-list">
                                <td>
                                    <h4 class="objective-category">Capabilities:</h4>
                                </td>
                                <!--- Blue --->
                                <td>
                                    {% if me.blue_status_capability %}
                                        <div id="blue_capability" class="resource-container active">
                                    {% else %}
                                        <div id="blue_capability" class="resource-container inactive">
                                    {% endif %}
                                    </div>
                                </td>

                                <!--- Red ---->
                                <td>
                                    {% if me.red_status_capability %}
                                        <div id="red_capability" class="resource-container active">
                                    {% else %}
                                        <div id="red_capability" class="resource-container inactive">
                                    {% endif %}
                                    </div>
                                </td>


                                <!--- Yellow --->
                                <td>
                                    {% if me.yellow_status_capability %}
                                        <div id="yellow_capability" class="resource-container active">
                                    {% else %}
                                        <div id="yellow_capability" class="resource-container inactive">
                                    {% endif %}
                                    </div>
                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div><!--- close .objectives -->

                </div><!--- close .panel-body-->
            </div><!-- close .panel .panel-primary -->
        </div><!-- close col-md-4 -->

        <!-- END Security Tasks -->

        <!-- START Attack Information -->

        <div class="col-md-2 attack">
            <div id="attack" value="{{ game.attack.pk }}" class="panel panel-primary">
                <div class="panel-heading attack-heading">
                    <div>
                        <span class="glyphicon glyphicon-screenshot"></span>&nbsp; Attack
                    </div>
                </div>
                <div class="panel-body attack-active">
                    <div id="attack_resource" class="resource-container complete centered">
                        <span class="centerer"></span><span class='centered'></span>
                    </div>
                </div>
            </div>


        </div><!-- close .col-md-2 -->

        <!-- END Attack Information -->

        <!-- END Player Pane -->


        <!-- START Chat Window -->

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp;Announcements
                </div>
                <div class="panel-body chat">
                    <ul id="talk" class="chat">
                        {% for message in game.message_set.all %}
                            <li class="clearfix">
                                {{ message.content }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- END Fluid Scaffold -->
    <!-- END Chat Window -->

    <!-- START Game Over Modal -->
    <div id="game-over-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center"><span class="glyphicon glyphicon-check"></span>&nbsp;Game Over!
                    </h3>
                </div>
                <div class="modal-body">
                    <h4>Thank you for your participation!</h4>
                    <hr>

                </div>
                <div class="modal-footer">
                    <a href="{% url 'home' %}" class="btn btn-info">My
                        Games</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- END Game Over Modal -->
    <script>me_player = {{ me.pk }};</script>
    <script src="{% static 'js/game.js' %}"></script>

{% endblock %}
