{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block head_css %}
    <link href="{% static 'css/game.css' %}" rel="stylesheet" xmlns:display="http://www.w3.org/1999/xhtml">
{% endblock %}

{% block navbar %}
    <div class="game-header">
        <div class="row">
            <div class="col-md-3">
                <div class="row">

                    <h4>
                        <div id="my-score">Score: {{ me.score }}</div>
                    </h4>

                </div>

                <div class="row">

                    <h4 id="game-number">Status:

                        {% if me.can_move %}
                            Your Move
                        {% else %}
                            Waiting on others...
                        {% endif %}


                    </h4>
                </div>


            </div> <!-- end .col-md-3 -->

            <div class="col-md-6">
                <p class="response center-block"></p>
            </div> <!-- end .col-md-6 -->
            <div class="col-md-3">
                <h3 id="time-remaining">Remaining Rounds: {{ game.ticks }}</h3>
            </div> <!-- end .col-md-3  -->
        </div> <!-- end .row -->
    </div> <!-- end .game-header -->


    {#    <table style="width:40%" border="1" align="center" class="player-stat-info">#}
    {#        <tr>#}
    {#            <td>Player</td>#}
    {#            <td>Finished Research Objectives</td>#}
    {#            <td>Finished Security Objectives</td>#}
    {#        </tr>#}
    {#        {% for player in players %}#}
    {#            <tr>#}
    {#                <td>#}
    {#                    {% if player == me %}#}
    {#                        Player {{ player.number|apnumber|capfirst }} <strong>(Me)</strong>#}
    {#                    {% else %}#}
    {#                        Player {{ player.number|apnumber|capfirst }}#}
    {#                    {% endif %}#}
    {#                </td>#}
    {#                <td>#}
    {#                    Workshop: {{ player.nf_workshop }}, Conference: {{ player.nf_conference }},#}
    {#                    Journal: {{ player.nf_journal }}#}
    {#                </td>#}
    {#                <td>#}
    {#                    Blue: {{ player.nf_blue }}, Red: {{ player.nf_red }}, Yellow: {{ player.nf_yellow }}#}
    {#                </td>#}
    {#            </tr>#}
    {#        {% endfor %}#}
    {#    </table>#}



{% endblock %}

{% block content %}

    <!-- START Fluid Scaffold -->
    <div class="row">

    <!-- START Game Information -->
    <div id="game-info" class="col-md-3">
        <h4><u>Other Players:</u></h4>
        {% for player in players %}
            {% if player.id != me.id %}

                <div class="panel panel-primary info-panel">
                {% if player.sanctioned %}
                    <div class="panel-heading sanctioned">
                {% else %}
                    <div class="panel-heading">
                {% endif %}
            <div>
                {% if player == me %}
                    <span class="glyphicon glyphicon-user"></span>&nbsp;Player {{ player.number|apnumber|capfirst }}
                    <strong>(Me)</strong>
                {% else %}
                    <span class="glyphicon glyphicon-user"></span>&nbsp;Player {{ player.number|apnumber|capfirst }}
                    {% if game.peer_sanc == True %}
                        <button type="button" sanctionee="{{ player.pk }}" sanctioner="{{ me.pk }}"
                                class="btn btn-sm btn-danger pull-right sanction">
                            Sanction
                        </button>
                    {% endif %}

                {% endif %}
            </div>
            </div>
            <div class="panel-body info-text">
                <table id= {{ player.id }}>
                    <tr>

                        <td>
                            Score: {{ player.score }}
                        </td>
                        <td colspan="3">
                            <div class="progress">
                                <p style="display:none">{% widthratio player.score highscore 100 as norm_score %}</p>
                                {% if norm_score|add:"0" <= 20 %}
                                    <div class="progress-bar progress-bar-danger" role="progressbar"
                                         aria-valuenow="{{ norm_score }}" aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{ norm_score }}%;">
                                        <span class="sr-only">{{ norm_score }}% Complete</span>
                                    </div>
                                {% elif norm_score|add:"0" <= 80 %}
                                    <div class="progress-bar progress-bar-warning" role="progressbar"
                                         aria-valuenow="{{ norm_score }}" aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{ norm_score }}%;">
                                        <span class="sr-only">{{ norm_score }}% Complete</span>
                                    </div>
                                {% else %}
                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                         aria-valuenow="{{ norm_score }}" aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{ norm_score }}%;">
                                    <span class="sr-only">{{ norm_score }}% Complete</span>
                                {% endif %}
                                </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="title">Status:</td>
                        <td colspan="3">


                        </td>
                    </tr>

                    {% if player == me %}
                        <tr id="my-vulnerabilities">
                            {% else %}
                        <tr id="their-vulnerabilities">
                    {% endif %}

                    <td class="title">
                        Immunities:
                    </td>
                    {% for vulnerability in player.vulnerabilities.security_resources.all %}
                        <td>
                            {% if vulnerability.active %}
                                <div id="{{ vulnerability.get_classification_display }}"
                                     class="resource-container active">
                            {% else %}
                                <div id="{{ vulnerability.get_classification_display }}"
                                     class="resource-container inactive">
                            {% endif %}
                            <span class="centerer"></span><span class='centered'></span>
                            </div>
                        </td>
                    {% endfor %}
                    </tr>
                </table>
            </div>
            </div>
            {% endif %}

        {% endfor %}
        </div>

        <!-- END Game Information -->

        <!-- START Player Pane -->

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div>
                            <span><span class="glyphicon glyphicon-user"></span>
                            <span id="player" style="display:none">{{ me.pk }}</span>
                            <strong>Me</strong></span>
                    </div>
                </div>

                <div class="panel-body">

                    <!-- START Resource Objectives -->
                    <div>
                        <h4><u>Research Objectives</u>:</h4>

                        <table class="category-list">
                            <tbody id="research-objectives">

                            <!-- START Workshop Objective -->
                            <tr class="resource-list">
                                <td>
                                    <h4 class="objective-category">Workshop(+10):</h4>
                                </td>
                                {% for resource in me.workshop.research_resources.all %}
                                    <td>
                                        {% if resource.complete %}
                                            <div id="{{ resource.get_classification_display }}"
                                                 class="clickable resource-container complete">
                                        {% else %}
                                            <div id="{{ resource.get_classification_display }}"
                                                 class="clickable resource-container incomplete"
                                                 value="{{ resource.pk }}">
                                        {% endif %}
                                        <span class="centerer"></span><span class='centered'></span>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                            <!-- END Workshop Objective -->

                            <!-- START Conference Objective -->
                            <tr class="resource-list">
                                <td>
                                    <h4 class="objective-category">Conference(+25):</h4>
                                </td>
                                {% for resource in me.conference.research_resources.all %}
                                    <td>
                                        {% if resource.complete %}
                                            <div id="{{ resource.get_classification_display }}"
                                                 class="clickable resource-container complete">
                                        {% else %}
                                            <div id="{{ resource.get_classification_display }}"
                                                 class="clickable resource-container incomplete"
                                                 value="{{ resource.pk }}">
                                        {% endif %}
                                        <span class="centerer"></span><span class='centered'></span>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                            <!-- END Conference Objective -->

                            <!-- START Journal Objective -->
                            <tr class="resource-list">
                                <td>
                                    <h4 class="objective-category">Journal(+45):</h4>
                                </td>
                                {% for resource in me.journal.research_resources.all %}
                                    <td>
                                        {% if resource.complete %}
                                            <div id="{{ resource.get_classification_display }}"
                                                 class="clickable resource-container complete">
                                        {% else %}
                                            <div id="{{ resource.get_classification_display }}"
                                                 class="clickable resource-container incomplete"
                                                 value="{{ resource.pk }}">
                                        {% endif %}
                                        <span class="centerer"></span><span class='centered'></span>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                            <!-- END Journal Objective -->

                            </tbody>
                        </table>

                    </div>
                    <hr>
                    <!-- END Resource Objectives -->


                    <!-- START Security Features -->

                    <div>
                        <h4><u>Security Objectives:</u></h4>
                        <table class="category-list">
                            <tbody>
                            <tr id="vulnerability-list">
                                <td>
                                    <h4 class="objective-category">Immunities:</h4>
                                </td>
                                {% for vulnerability in me.vulnerabilities.security_resources.all %}
                                    <td>
                                        {% if vulnerability.active %}
                                            <div id="{{ vulnerability.get_classification_display }}"
                                                 class="resource-container active"
                                            value="{{ vulnerability.pk }}" >
                                        {% else %}
                                            <div id="{{ vulnerability.get_classification_display }}"
                                                 class="clickable resource-container inactive"
                                                 value="{{ vulnerability.pk }}">
                                        {% endif %}
{#                                        <p id="{{ vulnerability.get_classification_display }}"></p>#}
                                        <span class="centerer"></span> <span class='centered'></span>
                                        </div>
                                    </td>
                                {% endfor %}

                                <td>
                                    {% if me.manager_sanctioned %}
                                        <button type="button" id="passbtn" class="btn btn-success">
                                            Pass
                                        </button>
                                    {% else %}
                                        <button type="button" id="passbtn" class="btn btn-success" style="display:none">
                                            Pass
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div><!--- close .objectives -->

                    <hr>

                    <div>
                        <h4><u>Capabilities:</u></h4>
                        <table class="category-list">
                            <tbody>
                            <tr id="capability-list">
                                <td>
                                    <h4 class="objective-category">Capabilities:</h4>
                                </td>
                                {% for capability in me.capabilities.security_resources.all %}
                                    <!-- Blue Security Resource -->
                                    <td>
                                        {% if capability.active %}
                                            <div id="{{ capability.get_classification_display }}"
                                                 class="resource-container active">
                                        {% else %}
                                            <div id="{{ capability.get_classification_display }}"
                                                 class="resource-container inactive">
                                        {% endif %}
                                        <span class="centerer"></span><span class='centered'></span>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>

                            </tbody>
                        </table>
                    </div><!--- close .objectives -->

                </div><!--- close .panel-body-->
            </div><!-- close .panel .panel-primary -->
        </div><!-- close col-md-4 -->

        <!-- END Security Tasks -->

        <!-- START Attack Information -->

        <div class="col-md-2 attack">
            <div id="attack" value="{{ game.attack.pk }}" class="panel panel-primary">
                <div class="panel-heading attack-heading">
                    <div>
                        <span class="glyphicon glyphicon-screenshot"></span>&nbsp; Attack
                    </div>
                </div>
                <div class="panel-body attack-active">
                    <div id="attack_resource" class="resource-container complete centered">
                        <span class="centerer"></span><span class='centered'></span>
                    </div>
                </div>
            </div>


        </div><!-- close .col-md-2 -->

        <!-- END Attack Information -->

        <!-- END Player Pane -->


        <!-- START Chat Window -->

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp;Announcements
                </div>
                <div class="panel-body chat">
                    <ul id="talk" class="chat">
                        {% for message in game.message_set.all %}
                            <li class="clearfix">
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        {% if message.created_by == me %}
                                            <strong class="primary-font">Player {{ message.created_by.number | apnumber | capfirst }}
                                                (Me)</strong>
                                        {% elif message.created_by == None %}
                                        {% else %}
                                            <strong class="primary-font">Player {{ message.created_by.number | apnumber | capfirst }}</strong>
                                        {% endif %}
                                    </div>
                                    <p>
                                        {{ message.content }}
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- END Fluid Scaffold -->
    <!-- END Chat Window -->

    <!-- START Game Over Modal -->
    <div id="game-over-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center"><span class="glyphicon glyphicon-check"></span>&nbsp;Game Over!
                    </h3>
                </div>
                <div class="modal-body">
                    <h4>Thank you for your participation!</h5>
                        <hr>
                        <h4> Scores: </h4>
                        <ol>
                            {% for player in players|dictsort:"score" reversed %}
                                <h4>
                                    <li> Player {{ player.number|apnumber|capfirst }} {% if player == me %}
                                        (me) {% endif %}: {{ player.score }}
                                </h4></li>
                            {% endfor %}
                        </ol>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'home' %}" class="btn btn-info">My
                        Games</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- END Game Over Modal -->
    <script>me_player = {{ me.pk }};</script>
    <script src="{% static 'js/game.js' %}"></script>

{% endblock %}
