{% extends 'base.html' %}
{% load staticfiles %}

{% block head_css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">

    <!-- START Home Header -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 id="title">My Games</h2>
        </div>
        <hr>

        <!-- START Game Table -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Player</th>
                <th>Tick</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>


                    <td>
                        <h5>{{ player.name }}</h5>
                    </td>

                    <td>
                        <h5>{{ player.remaining_moves }} </h5>
                    </td>

                    <td>
                        <h5 id="kickout" value={{ player.id }}>Kick Out</h5>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- END Game Table -->
        <script>
            $(document).ready(function () {
                setInterval(function () {
                    window.location.reload(true);
                }, 4500);
            });

            $(document).on('click', '#kickout', function (event) {
                event.preventDefault();

                $.ajax({
                    url: "/player/remove/", // the endpoint
                    type: "POST", // http method
                    data: {player_id: $(this).attr('value')}, // data sent with the post request

                    // handle a successful response
                    success: function (json) {
                        console.log(json);
                    },

                    // handle a non-successful response
                    error: function (xhr, errmsg, err) {

                    }
                });


                return false;
            });

        </script>
    </div>

{% endblock %}


