<html>
<head>
    <title>Bootstrap Progress Bar</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/onboarding_tabular.css">

</head>
<body>
<div class="container">
    <div class="text-center">
        <h1>Cybersecurity Game Sanction</h1>
    </div>
    <p class="text-center"></p>
    <p class="text-center">
    <ul class="nav nav-tabs" role="tablist">

        <li role="presentation"><a href="#tab1" aria-controls="bravo" role="tab" data-toggle="tab">
            <button data-toggle="progressbar" data-target="#myProgressbar" data-value="14.28" id="firstButton"
                    class="btn btn-default orange-active">
                Step 1
            </button>
        </a></li>

        <li role="presentation"><a href="#tab2" aria-controls="matrix" role="tab" data-toggle="tab">
            <button data-toggle="progressbar" data-target="#myProgressbar" data-value="28.56"
                    class="btn btn-default orange-active">
                Step 2
            </button>
        </a></li>

        <li role="presentation"><a href="#tab3" aria-controls="technica" role="tab" data-toggle="tab">
            <button data-toggle="progressbar" data-target="#myProgressbar" data-value="42.84"
                    class="btn btn-default orange-active">
                Step 3
            </button>
        </a></li>

        <li role="presentation"><a href="#tab4" aria-controls="rw4" role="tab" data-toggle="tab">
            <button data-toggle="progressbar" data-target="#myProgressbar" data-value="57.12"
                    class="btn btn-default orange-active">
                Step 4
            </button>
        </a></li>


        <li role="presentation"><a href="#tab5" aria-controls="podhod5" role="tab" data-toggle="tab">
            <button data-toggle="progressbar" data-target="#myProgressbar" data-value="71.4"
                    class="btn btn-default orange-active">
                Step 5
            </button>
        </a></li>


        <li role="presentation"><a href="#tab6" aria-controls="podhod5" role="tab" data-toggle="tab">
            <button data-toggle="progressbar" data-target="#myProgressbar" data-value="85.86"
                    class="btn btn-default orange-active">
                Step 6
            </button>
        </a></li>


        <li role="presentation"><a href="#tab7" aria-controls="podhod5" role="tab" data-toggle="tab">
            <button data-toggle="progressbar" data-target="#myProgressbar" data-value="100"
                    class="btn btn-default orange-active">
                Step 7
            </button>
        </a></li>

    </ul>

    <div id="myProgressbar" class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="14.28" aria-valuemin="0"
             aria-valuemax="100" style="width: 0%;">
            <span class="sr-only">0% progress</span>
        </div>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="tab1">
            <ul>
                {% if game_chat_link %}
                    <li> Join the <a href="{{ game_chat_link }}">chat </a> and say Hello!. This will acknowledge your
                        presence to the admin. This chat will
                        used by admin for coordination among all the players.
                    </li>
                {% endif %}
                <li>
                    Please fill the pre-game survey.<br/> <br/>
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdIlvX1xnzjZOESVsETGvyIsYqTsc-8layvgD9ZK3Vt3lvirw/viewform?embedded=true"
                            width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...
                    </iframe>
                </li>
            </ul>

        </div>


        <div role="tabpanel" class="tab-pane" id="tab2">
            <p>

                Please watch the demo video carefully. The game has a lot of different elements, and its important to
                understand these elements to play the game effectively. Feel free to watch the video or some parts of it
                again, in case it is not clear.<br/>

            </p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/9beILDbkGFU?rel=0" frameborder="0"
                    allowfullscreen></iframe>
        </div>


        <div role="tabpanel" class="tab-pane" id="tab3">
            <p>

                This is a demo round to familiarize yourself with the game. Feel free to play around and try out
                different parts of the game in this round.
                The demo game will be of 25 rounds. Do not click on resource or security task multiple times. Your move
                will
                be registered after clicking once and you will get a notification of "Response Recorded".
                In case you face any technical problem, communicate the same to the game
                admin over the chat. In most cases, simply refreshing the web page will work.
            </p>

            <a href="{{ demo_game_url }}" target="_blank">Start the Demo</a>
        </div>


        <div role="tabpanel" class="tab-pane" id="tab4">
            <p>

                This game will be of 40 rounds.
                In this game, manager will individual sanction(punish) the player who fails to finish the security tasks
                on
                time.
                In case manager decides to sanction, there will be a notification regarding the same in Announcement
                section
                on the right side. For the rounds a player is sanctioned he/she can click on pass button and nothing
                else.
            </p>


            <a href="{{ game_url_1 }}" target="_blank">Game 1</a>


        </div>

        <div role="tabpanel" class="tab-pane" id="tab5">
            <p>

                This game will be of 40 rounds.
                In this game, manager will individual sanction(punish) the player who fails to finish the security tasks
                on
                time.
                In case manager decides to sanction, there will be a notification regarding the same in Announcement
                section
                on the right side. For the rounds a player is sanctioned he/she can click on pass button and nothing
                else.
            </p>

            <a href="{{ game_url_2 }}" target="_blank">Game 2</a>

        </div>

        <div role="tabpanel" class="tab-pane" id="tab6">
            <p>

                This game will be of 40 rounds.
                In this game, manager will group sanction(punish) all the players even if one player fails to finish the
                security tasks on time. One way to ensure that your peers complete the security task on time is to
                utilise "Peer Sanction".

                In case manager decides to sanction, there will be a notification regarding the same in Announcement
                section on the right side. For the rounds a player is sanctioned he/she can click only on pass button.
            </p>

            <a href="{{ game_url_3 }}" target="_blank">Game 3</a>


        </div>


        <div role="tabpanel" class="tab-pane" id="tab7">
            <p>

                Please complete the post game survey below. After completing the survey, you will be shown a code. Enter
                the code in the mTurk HIT and finish it.
            </p>

            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeMFtLPDUttdScl2qpE2C10hfIJvU48pcAha4epHC9nUPc4CQ/viewform?embedded=true"
                    width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...
            </iframe>

        </div>

    </div>


</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="../static/js/onboarding_tabular.js"></script>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        document.getElementById("firstButton").click();

    })
</script>
</body>
</html>