<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sanction Game Onboarding</title>
</head>
<body>
<h1>Welcome to Sanction Demo Game</h1>
<form action="/onboarding_1" method="post">
    <div>
        <label for="name">MTurk Id:</label>
        <input type="text" id="mturk_id" name="mturk_id">
    </div>

    <div>
        Please fill the pre-game <a href="https://goo.gl/forms/i5UviPBqVTcf2Wlt1" target="_blank">survey</a> and come
        back to this page. You will be presented with a code at the
        end of survey. Enter the code below.<br>
        <input type="text" id="survey_code" name="survey_code">

    </div>
    <div class="button">
        <button type="next">Next</button>
    </div>
</form>
</body>
</html>