        {% extends 'base.html' %}
        {% load humanize %}

        {% block tabs %}
        <div class="game-header">
            <h3 id="game-number">Game#:&nbsp; {{ game.game_key }}</h3>
            <h3 id="time-remaining">Remaining Moves: 100</h3>
        </div>
        {% endblock %}

        {% block content %}

        <!-- START Fluid Scaffold -->
        <div class="row">

            <!-- START Game Information -->

            <div class="col-md-3">
                {% for player_num in "1234" %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div>
                            <span class="glyphicon glyphicon-user"></span>&nbsp;Player {{ player_num|apnumber|capfirst }}
                            <button id="sanction" type="button" class="btn btn-sm btn-danger pull-right">Sanction</button>
                        </div>
                    </div>
                    <div class="panel-body">
                                <span class="info-text">
                                    Score: 83 </br>
                                    PC Health:  22% </br>
                                    Security: 2 out of 3
                                </span>
                    </div>
                </div>
                {% endfor %}
            </div>

        <!-- END Game Information -->

        <!-- START Player Pane -->

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div>
                        <span><span class="glyphicon glyphicon-user"></span>
                        &nbsp;Player One</span>
                        <span id="score">
                            &nbsp;Score: <b> 57 Points</b>
                        </span>
                    </div>
                </div>
                <div class="panel-body gameboard">

                    <!-- START Resource Objectives -->
                    <div class="objectives">
                        <div class="section-header">
                            <h3> Research Objectives: </h3>
                        </div>

                        <table class="category-list">
                            <tbody>

                                <!-- START Workshop Objective -->
                                <tr class="resource-list">
                                    <td>
                                        <h4 class="objective-category">Workshop:</h4>
                                    </td>
                                    <td>
                                        <div id="yellow" class="resource-container incomplete">
                                            <span class="centerer"></span><span class='centered'></span>
                                        </div>
                                    </td>
                                </tr>
                                <!-- END Workshop Objective -->

                                <!-- START Conference Objective -->
                                <tr class="resource-list">
                                    <td>
                                        <h4 class="objective-category">Conference:</h4>
                                    </td>
                                    <td>
                                        <div  id="blue" class="resource-container incomplete">
                                            <span class="centerer"></span><span class='centered'></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div id="yellow" class="resource-container incomplete">
                                            <span class="centerer"></span><span class='centered'></span>
                                        </div>
                                    </td>
                                </tr>
                                <!-- END Conference Objective -->

                                <!-- START Journal Objective -->
                                <tr class="resource-list">
                                    <td>
                                        <h4 class="objective-category">Journal:</h4>
                                    </td>
                                    <td>
                                        <div  id="blue" class="resource-container incomplete">
                                            <span class="centerer"></span><span class='centered'></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div id="yellow" class="resource-container incomplete">
                                            <span class="centerer"></span><span class='centered'></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div id="red" class="resource-container incomplete">
                                            <span class="centerer"></span><span class='centered'></span>
                                        </div>
                                    </td>
                                </tr>
                                <!-- END Journal Objective -->

                            </tbody>
                        </table>

                    </div>
                    <hr>
                    <!-- END Resource Objectives -->


                    <!-- START Security Features -->

                    <div class="objectives">
                        <div class="section-header">
                            <h3>Security Objectives:</h3>
                        </div>
                        <table class="category-list">
                            <tbody>
                                <tr>
                                    <td>
                                        <h4 class="objective-category">Vulnerabilities:</h4>
                                    </td>
                                    <!-- Blue Security Resource -->
                                    <td>
                                        <div id="blue" class="resource-container incomplete">
                                            <span class="centerer"></span><span class='centered'></span>
                                        </div>
                                    </td>

                                    <!-- Red Security Resource -->
                                    <td>
                                        <div id="red" class="resource-container incomplete">
                                            <span class="centerer"></span><span class='centered'></span>
                                        </div>
                                    </td>

                                    <!-- Yellow Security Resource -->
                                    <td>
                                        <div id="yellow" class="resource-container incomplete">
                                            <span class="centerer"></span><span class='centered'></span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h4 class="objective-category">Capabilities:</h4>
                                    </td>
                                    <!-- Blue Security Resource -->
                                    <td>
                                        <div id="blue" class="resource-container incomplete">
                                            <span class="centerer"></span><span class='centered'></span>
                                        </div>
                                    </td>

                                    <!-- Red Security Resource -->
                                    <td>
                                        <div id="red" class="resource-container incomplete">
                                            <span class="centerer"></span><span class='centered'></span>
                                        </div>
                                    </td>

                                    <!-- Yellow Security Resource -->
                                    <td>
                                        <div id="yellow" class="resource-container incomplete">
                                            <span class="centerer"></span><span class='centered'></span>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div><!--- close .objectives -->
                </div><!--- close .panel-body-->
            </div><!-- close .panel .panel-primary -->
        </div><!-- close col-md-4 -->

                                <!-- END Security Tasks -->

                                <!-- START Attack Information -->

                                <div class="col-md-2 attack">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading attack-heading">
                                            <div>
                                                <span class="glyphicon glyphicon-screenshot"></span>&nbsp; Attack
                                            </div>
                                        </div>
                                        <div class="panel-body attack-active">
                                            <div id="yellow" class="resource-container complete centered">
                                                <span class="centerer"></span><span class='centered'></span>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="panel panel-primary">
                                        <div class="panel-heading attack-heading">
                                            <div>
                                                <span class="glyphicon glyphicon-screenshot"></span>&nbsp; Threat
                                            </div>
                                        </div>
                                        <div class="panel-body attack-threat">
                                            <div class="outer">
                                                <div class="inner blue" blue-threat="20%">
                                                    <div></div>
                                                </div>
                                                <div class="inner red" red-threat="20%">
                                                    <div></div>
                                                </div>
                                                <div class="inner yellow" yellow-threat="60%">
                                                    <div></div>
                                                </div>
                                            </div>
                                        </div> <!-- close panel-body -->
                                    </div> <!-- close panel panel-primary -->
                                </div><!-- close .col-md-2 -->

                                <!-- END Attack Information -->

        <!-- END Player Pane -->


        <!-- START Chat Window -->

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp;Group Chat
                </div>
                <div class="panel-body chat">
                    <ul class="chat">
                        <li class="clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Player One</strong>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Player Two</strong>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Player Three</strong>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Player Four</strong>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- END Chat Window -->

            </div>
        </div>
        <!-- END Fluid Scaffold -->

        {% endblock %}
