{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block head_css %}
<link href="{% static 'css/game.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
<div class="game-header">
    <div class="row">
        <div class="col-md-3">
            <h3 id="game-number">Game&nbsp;#<span id="game-key">{{ game.game_key }}</span></h3>
        </div> <!-- end .col-md-3 -->
        <div class="col-md-6">
            <p class="response center-block"></p>
        </div> <!-- end .col-md-6 -->
        <div class="col-md-3">
            <h3 id="time-remaining" value="{{ game.current_tick.pk }}"> {% if game.ticks >= 0 %} Remaining Rounds:  {{ game.ticks }}  {% else %} Game Over! {% endif %}</h3>
        </div> <!-- end .col-md-3  -->
    </div> <!-- end .row -->
</div> <!-- end .game-header -->
{% endblock %}

{% block content %}

<!-- START Fluid Scaffold -->
<div class="row">

    <!-- START Game Information -->
    <div id="game-info" class="col-md-3">
        {% for player in players %}
        <div class="panel panel-primary info-panel">
            {% if player.sanctioned %}
            <div class="panel-heading sanctioned">
            {% else %}
            <div class="panel-heading">
            {% endif %}
                <div>
                    {% if player == me %}
                    <span class="glyphicon glyphicon-user"></span>&nbsp;Player {{ player.number|apnumber|capfirst}} <strong>(Me)</strong>
                    {% else %}
                    <span class="glyphicon glyphicon-user"></span>&nbsp;Player {{ player.number|apnumber|capfirst }}
                    <button type="button" sanctionee="{{ player.pk }}" sanctioner="{{ me.pk }}" class="btn btn-sm btn-danger pull-right sanction">Sanction</button>
                    {% endif %}
                </div>
            </div>
            <div class="panel-body info-text">
                <table>
                <tbody>
                    {% if player == me %}
                    <tr id="my-score" player-score="{{ player.score }}">
                    {% else %}
                    <tr id="their-score" player-score="{{ player.score }}">
                    {% endif %}
                        <td>
                            Score: {{ player.score }}
                        </td>
                        <td colspan="3">
                            <div class="progress">
                                <p style="display:none">{% widthratio player.score highscore 100 as norm_score %}</p>
                                {% if norm_score|add:"0" <= 20 %}
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ norm_score }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ norm_score }}%;">
                                <span class="sr-only">{{ norm_score }}% Complete</span>
                                 </div>
                                {% elif norm_score|add:"0" <= 80 %}
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ norm_score }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ norm_score }}%;">
                                <span class="sr-only">{{ norm_score }}% Complete</span>
                                 </div>
                                {% else %}
                                 <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ norm_score }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ norm_score }}%;">
                                <span class="sr-only">{{ norm_score }}% Complete</span>
                                {% endif %}
                            </div>
                        </td>
                        <td colspan="1">
                        {% if player.can_move %}
                            <h5><strong>thinking...</strong>
                        {% elif player.sanctioned %}
                            <h5><strong>sanctioned.</strong>
                        {% else %}
                            <h5><strong>moved.</strong>
                        {% endif %}
                        </td>
                    </tr>
                        {% if player == me%}
                        <tr id="my-vulnerabilities">
                        {% else %}
                        <tr id="their-vulnerabilities">
                        {% endif %}
                            <td>
                                Vulnerabilities:
                            </td>
                            {% for vulnerability in player.vulnerabilities.security_resources.all %}
                            <td>
                                {% if vulnerability.active  %}
                                <div id="{{ vulnerability.get_classification_display }}" class="resource-container active">
                                    {% else %}
                                    <div id="{{ vulnerability.get_classification_display }}" class="resource-container inactive">
                                        {% endif %}
                                        <span class="centerer"></span><span class='centered'></span>
                                    </div>
                                </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- END Game Information -->

            <!-- START Player Pane -->

            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div>
                            <span><span class="glyphicon glyphicon-user"></span>
                            <span id="player" style="display:none">{{ me.pk }}</span>
                            &nbsp;Player {{ me.number|apnumber|capfirst }} <strong>(Me)</strong></span>
                            <span id="score">
                                &nbsp;Score: <b> {{ me.score }}</b>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body gameboard">

                        <!-- START Resource Objectives -->
                        <div class="objectives">
                            <div class="section-header">
                                <h3> Research Objectives: </h3>
                            </div>

                            <table  class="category-list">
                                <tbody id="research-objectives">

                                    <!-- START Workshop Objective -->
                                    <tr class="resource-list">
                                        <td>
                                            <h4 class="objective-category">Workshop:</h4>
                                        </td>
                                        {% for resource in me.workshop.research_resources.all %}
                                        <td>
                                            {% if resource.complete %}
                                                <div id="{{ resource.get_classification_display }}" class="clickable resource-container complete">
                                            {% else %}
                                                <div id="{{ resource.get_classification_display }}" class="clickable resource-container incomplete" value="{{ resource.pk }}">
                                            {% endif %}
                                                <span class="centerer"></span><span class='centered'></span>
                                            </div>
                                        </td>
                                        {%  endfor %}
                                    </tr>
                                    <!-- END Workshop Objective -->

                                    <!-- START Conference Objective -->
                                    <tr class="resource-list">
                                        <td>
                                            <h4 class="objective-category">Conference:</h4>
                                        </td>
                                        {% for resource in me.conference.research_resources.all %}
                                        <td>
                                            {% if resource.complete %}
                                                <div id="{{ resource.get_classification_display }}" class="clickable resource-container complete">
                                            {% else %}
                                                <div id="{{ resource.get_classification_display }}" class="clickable resource-container incomplete"  value="{{ resource.pk }}">
                                            {% endif %}
                                                <span class="centerer"></span><span class='centered'></span>
                                            </div>
                                        </td>
                                        {%  endfor %}
                                    </tr>
                                    <!-- END Conference Objective -->

                                    <!-- START Journal Objective -->
                                    <tr class="resource-list">
                                        <td>
                                            <h4 class="objective-category">Journal:</h4>
                                        </td>
                                        {% for resource in me.journal.research_resources.all %}
                                        <td>
                                            {% if resource.complete %}
                                                <div id="{{ resource.get_classification_display }}" class="clickable resource-container complete">
                                            {% else %}
                                                <div id="{{ resource.get_classification_display }}" class="clickable resource-container incomplete"  value="{{ resource.pk }}">
                                            {% endif %}
                                                <span class="centerer"></span><span class='centered'></span>
                                            </div>
                                        </td>
                                        {%  endfor %}
                                    </tr>
                                    <!-- END Journal Objective -->

                                </tbody>
                            </table>

                        </div>
                        <hr>
                        <!-- END Resource Objectives -->


                        <!-- START Security Features -->

                        <div class="objectives">
                            <div class="section-header">
                                <h3>Security Objectives:</h3>
                            </div>
                            <table class="category-list">
                                <tbody>
                                    <tr id="vulnerability-list">
                                        <td>
                                            <h4 class="objective-category">Vulnerabilities:</h4>
                                        </td>
                                        {% for vulnerability in me.vulnerabilities.security_resources.all %}
                                        <td>
                                            {% if vulnerability.active  %}
                                                <div id="{{ vulnerability.get_classification_display }}" class="resource-container active">
                                            {% else %}
                                                <div id="{{ vulnerability.get_classification_display }}" class="clickable resource-container inactive" value="{{ vulnerability.pk}}">
                                            {% endif %}
                                                    <span class="centerer"></span><span class='centered'></span>
                                                </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
									
                                        <tr id="capability-list">
                                            <td>
                                                <h4 class="objective-category">Capabilities:</h4>
                                            </td>
                                            {% for capability in me.capabilities.security_resources.all %}
                                            <!-- Blue Security Resource -->
                                            <td>
                                                {% if capability.active  %}
                                                <div id="{{ capability.get_classification_display }}" class="resource-container active">
                                                    {% else %}
                                                    <div id="{{ capability.get_classification_display }}" class="resource-container inactive">
                                                        {% endif %}
                                                        <span class="centerer"></span><span class='centered'></span>
                                                    </div>
                                                </td>
                                                {% endfor %}
                                            </tr>

                                        </tbody>
                                    </table>
                                </div><!--- close .objectives -->
                            </div><!--- close .panel-body-->
                        </div><!-- close .panel .panel-primary -->
                    </div><!-- close col-md-4 -->

                    <!-- END Security Tasks -->

                    <!-- START Attack Information -->

                    <div class="col-md-2 attack">
                        <div id="attack" value="{{ game.attack.pk }}" class="panel panel-primary">
                            <div class="panel-heading attack-heading">
                                <div>
                                    <span class="glyphicon glyphicon-screenshot"></span>&nbsp; Attack
                                </div>
                            </div>
                            <div class="panel-body attack-active">
                                <div id="{{ game.attack.get_classification_display }}" class="resource-container complete centered">
                                    <span class="centerer"></span><span class='centered'></span>
                                </div>
                            </div>
                        </div>



                        <div class="panel panel-primary">
                            <div class="panel-heading attack-heading">
                                <div>
                                    <span class="glyphicon glyphicon-screenshot"></span>&nbsp; Threat
                                </div>
                            </div>
                            <div id="threat" class="panel-body attack-threat">
                                <div class="outer">
                                    <div class="inner blue" blue-threat="{{ game.current_tick.next_attack_probability.blue }}%">
                                        <div></div>
                                    </div>
                                    <div class="inner red" red-threat="{{ game.current_tick.next_attack_probability.red }}%">
                                        <div></div>
                                    </div>
                                    <div class="inner yellow" yellow-threat="{{ game.current_tick.next_attack_probability.yellow }}%">
                                        <div></div>
                                    </div>
                                </div>
                            </div> <!-- close panel-body -->
                        </div> <!-- close panel panel-primary -->
                    </div><!-- close .col-md-2 -->

                    <!-- END Attack Information -->

                    <!-- END Player Pane -->


                    <!-- START Chat Window -->

                    <div class="col-md-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-comment"></span>&nbsp;Group Chat
                            </div>
                            <div class="panel-body chat">
                                <ul id="talk" class="chat">
                                    {% for message in game.message_set.all %}
                                    <li class="clearfix">
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                {% if message.created_by == me %}
                                                <strong class="primary-font">Player {{ message.created_by.number | apnumber | capfirst }} (Me)</strong>
                                                {% elif message.created_by == None %}
                                                <strong class="primary-font">***Announcement***</strong>
                                                {% else %}
                                                <strong class="primary-font">Player {{ message.created_by.number | apnumber | capfirst }}</strong>
                                                {% endif %}
                                            </div>
                                            <p>
                                                {{ message.content }}
                                            </p>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <form action="/message/create/" class="form-inline"  method="POST"  id="message-form" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="fieldWrapper" id="the_message">
                                            <input type="text" class="form-control" name="{{ message.content.name }}" id="id_{{ message.content.name }}"/>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <input class="btn btn-warning btn-sm" id="btn-chat" type="submit" value="Send"></input>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
            <!-- END Fluid Scaffold -->
                    <!-- END Chat Window -->

        <!-- START Game Over Modal -->
            <div id="game-over-modal" class="modal fade"  tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                             <h3 class="modal-title text-center"><span class="glyphicon glyphicon-check"></span>&nbsp;Game Over!</h3>
                        </div>
                    <div class="modal-body">
                    <h5>Thank you for your participation!</h5>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'home' %}" class="btn btn-info">My Games</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- END Game Over Modal -->

            <script src="{% static 'js/game.js' %}"></script>

            {% endblock %}
