{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h2 class="centered">My Games</h2>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Game</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for game in view.games %}

          <td>
              <h5><a href="{% url 'game' game.game_key %}" class="btn btn-sm btn-info">Game&nbsp;#{{ game.game_key }}</a></h5>
          </td>

          {% if game.complete %}
          <td>
            <h5>Completed</h5>
          </td>
          {% else %}
          <td>
            <h5>Incomplete</h5>
          </td>
          {% endif %}

      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}


